@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    background-color: #39393a;
    color: white;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    text-align: center;
}

.container {
    display: grid;
    grid-template: repeat(3, minmax(0, 1fr)) / repeat(3, minmax(0, 1fr));
    width: 750px;
    height: 750px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

.cell {
    border: 1px solid rgb(139, 139, 139);
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: rgb(233, 232, 232);
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#start-game {
    border-radius: 15px;
    height: 30px;
    width: 100px;
    border-style: hidden;
    border: 2px solid black;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#start-game:hover {
    background-color: white;
    color: black;
}

.icon {
    width: 200px;
    height: 200px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
    background-color: #39393a;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.info-field {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.submit-field {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

